#jsonasaform_container
{
    width: 100%;
    text-align: left;
    padding: 10px;
}

#jsonasaform_container > div
{
    display: flex;
    background-color: WHITESMOKE;
    width: 95%;
    border-radius: 3px;
    padding-left: 10px
}

.jsonasaform_object
{
    margin-top: 10px;
}

.jsonasaform_attribute_label
{
    flex: 1;
    margin-left: 3px;
    color: gray;
}

.jsonasaform_attribute_value
{
    color: dodgerblue;
    flex: 1;
    padding: 0px;
    border: none;
    outline: none;
    background: transparent;
}
